@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");

:root {
  --primary-color: purple;
  --secondary-color: #ffb20a;
}

body {
  font-family: "Mallanna", sans-serif;
  text-align: center;
  display: block;
  margin: 0rem 0rem;
  cursor: "pointer";
}

#post {
  position: relative;
  left: 0.5rem;
  height: 10rem;
  width: 25rem;
}

#pass,
#repass,
#check {
  position: relative;
  top: 0.5rem;
  left: 6rem;
}

#text {
  position: relative;
  top: 2rem;
}

.Img {
  height: 3rem;
  width: 3rem;
  position: relative;
  top: 0.5rem;
  left: 8rem;
}
header {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

#name {
  position: relative;
  right: 23rem;
  top: -2rem;
  color: var(--primary-color);
  font-size: 2rem;
}
#symbol {
  position: relative;
  left: -22rem;
}

select {
  height: 2.5rem;
  width: 5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: none;
  position: relative;
  left: -7rem;
  top: -1.2rem;
}
input {
  height: 2.1rem;
  width: 18rem;
  outline: none;
  position: relative;
  left: -7rem;
  top: -1.2rem;
}
#button {
  height: 2.38rem;
  width: 5rem;
  margin: 0.3rem 0rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  outline: none;
}

#cartTotal {
  position: relative;
  top: -9rem;
  left: 30.5rem;
  font-family: "Mallanna", sans-serif;
  color: var(--primary-color);
  font-size: 1.7rem;
}

ul {
  font-family: "Mallanna", sans-serif;
  list-style-type: none;
  margin: 0rem;
  padding: 0.5rem;
  overflow: hidden;
  background-color: #333333;
  color: white;
}
ul a {
  color: white;
}

ul li {
  float: left;
  padding: 0.1rem 0.5rem;
  display: block;
}

li:hover {
  background-color: gray;
  border: solid white 0.1rem;
}

ul li.dropdownIcon {
  display: none;
}

.event {
  display: block;
  margin: auto;
  height: 20rem;
  width: 80rem;
  position: relative;
  top: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.watches,
.Jewellery,
.Men,
.Fashion {
  height: 10rem;
  width: 10rem;
  padding: 1rem 1rem;
  grid-area: a;
}
.watches {
  width: 9rem;
}
.container {
  position: relative;
  top: 3rem;
  left: 4rem;

  display: inline;
}
.container li {
  color: black;
}

button {
  border-radius: 0.5rem;
  cursor: "pointer";
  outline: none;
  background: lightpink;
}

#outerSwitch {
  height: 1.6rem;
  width: 3.5rem;
  border-radius: 2rem;
  text-align: left;
  position: relative;
  top: 1rem;
  left: 35rem;
  color: grey;
  outline: none;
}

#innerSwitch {
  height: 1rem;
  width: 1rem;
  background: #f9d1d1;
  border-radius: 2.4rem;
  outline: none;
}
/**** Mobile ****/

@media (max-width: 600px) {
  ul li.navigationPills {
    display: none;
  }

  .Img {
    height: 1.45rem;
    width: 1.45rem;
    position: absolute;
    right: 0.09rem;
    top: 0.5rem;
  }
  header {
    display: block;

    height: 2.5rem;
    padding: 0.2rem;
    background-color: var(--secondary-color);
  }

  #name {
    color: var(--primary-color);
    font-size: 1.4rem;
    position: relative;
    left: -2rem;
    top: -0.6rem;
    width: 3rem;
  }
  #symbol {
    position: relative;
    left: -1rem;
    width: 3rem;
  }

  select {
    height: 1.4rem;

    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    width: 2rem;
    position: relative;
    left: -1.5rem;
    top: -0.8rem;
  }
  input {
    height: 1.09rem;
    width: 5rem;
    width: 3rem;
    position: relative;
    left: -1.5rem;
    top: -0.8rem;
  }
  #button {
    height: 1.56rem;
    width: 1.8rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    position: relative;
    left: -1.5rem;
  }

  div.relative {
    position: absolute;
    right: 0.45rem;
    top: -0.2rem;
    font-family: "Mallanna", sans-serif;
    color: var(--primary-color);
    font-size: 1rem;
  }
  ul li.dropdownIcon {
    display: block;

    margin-right: 1rem;
    position: absolute;
    top: 3.4rem;
    right: 0.7rem;
  }

  ul.navigation.responsive li {
    display: block;
    float: none;
    text-align: left;
  }
  .event {
    height: 7rem;
    width: 19rem;
    position: relative;
  }

  .watches,
  .Jewellery,
  .Fashion,
  .Men {
    height: 5rem;
    width: 5rem;
  }
  .watches {
    width: 3rem;
  }
}
