body {
  font-family: sans-serif;
  text-align: center;
}
button {
  margin: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 45%;
  outline: none;
}

output {
  height: 10rem;
  width: 10rem;
}
#Todo {
  background-color: white;
  color: black;
}
#Todo li {
  float: none;
  border: 0.2rem solid grey;
  margin: 1rem 25rem;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  header {
    height: 8rem;
    /* max-width: 320px; */
  }

  input {
    width: 10rem;
    text-align: center;
    margin: auto;
  }
}
