body {
  font-family: sans-serif;
  text-align: center;
}
button {
  outline: none;
}

ul {
  background-color: white;
  color: black;
  list-style: none;
}

ul li {
  padding: 0.1rem 0.5rem;
  list-style: none;
}
