.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin: 1rem;
  padding: 0.8rem 1rem;
  outline: none;
}

output {
  height: 10rem;
  width: 10rem;
}

@media (max-width: 600px) {
  header {
    height: 8rem;
  }
}
