.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: url("https://i.pinimg.com/originals/c8/d6/36/c8d636c1c666b1c999b25cf7c16d6333.jpg");
}

button {
  margin: 1rem;
  padding: 0.8rem 1rem;
  outline: none;
}

output {
  height: 10rem;
  width: 10rem;
}
#ipass {
  position: relative;
  top: -0.3rem;
  margin: 0.4rem;
}

#pass,
#repass {
  position: relative;
  left: 0rem;
}
#check {
  width: 1rem;
  margin: 1rem;
  position: relative;
  top: 0.3rem;
  left: -0.1rem;
}
#shpass {
  position: relative;
  top: -0.5rem;
}
@media (max-width: 600px) {
  header {
    height: 8rem;
  }

  input {
    height: 3rem;
    width: 10rem;
    text-align: center;
    margin: auto;
  }

  #ipass {
    position: relative;
    top: -0.3rem;
    margin: 2rem;
  }
  #check {
    width: 1rem;
    margin: 1rem;
    position: relative;
    top: 0.5rem;
  }
  #shpass {
    position: relative;
    top: -0.5rem;
  }
}
